@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Roboto:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.fira-sans-thin {
    font-family: "Fira Sans", serif;
    font-weight: 100;
    font-style: normal;
}

/* share style */
.display-flex {
    display: flex;
}

.btn-primary {
    border-radius: 8px;
    background: #FF900E;
    color: #FFF;
    padding: 20px 25px;
    text-align: center;
    border: none;
    font-size: 1.25rem;
    text-align: center;
}

.section-title {
    font-size: 2.8rem;
    font-weight: 700;

}

.section-description {
    color: var(--Dark-03, #727272);
    font-family: "Work Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

main>section {
    margin-top: 130px;
}

main {
    max-width: 1440px;
    margin: 0 auto;
}

/* header style */
.nav-item {
    list-style: none;
    margin-right: 30px;
}

.nav-bar {
    justify-content: space-between;
    align-items: center;
}

.bg-light {
    background-color: rgba(255, 144, 14, 0.10);

}

.nav-links {
    list-style: none;

    color: var(--Dark-02, #424242);
    text-align: center;
    font-family: "Work Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px
}

.nav-bar,
.banner {
    max-width: 1440px;
    margin: 0 auto;
}

.brand-name {
    font-weight: 700;
    font-size: 2.5rem;
}

/* banner style */
.banner-content {
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}

.banner-title {
    font-weight: 700;
    font-size: 4rem;
    text-align: center;
}

.description {
    font-weight: 400;
    font-size: 1rem;
    color: var(--Dark-03, #727272);
    text-align: center;
}

.banner-img {
    width: 100%;
}

/* team features style */
.teams {
    align-items: center;
}

.team-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.our-feature {
    margin-left: 130px;
    max-width: 530px;

}



.feature-description {
    color: var(--Dark-03, #727272);
    font-family: "Work Sans";
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 32px;
}

#quick-list {
    color: var(--Dark-03, #727272);
    font-weight: 500;
}

#features {
    color: #FF900E;
    font-weight: 700;
}

.of-our {
    color: var(--Dark-01, #131313);
    font-weight: 700;
}

/* featur will enjoy */
#featur-section-title {
    border-left: 5px solid orange;
    padding-left: 20px;
}

.feature-card .featur-title {
    font-weight: 600;
    font-size: 1.25rem;
    margin-top: 0px;
    margin-bottom: 0px;
}

.featurs {
    gap: 140px;
}

.feature-card {
    padding: 30px;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    margin-bottom: 20px;
}

#experienc-badge {
    padding: 46px 42px;

    font-weight: 500;
    font-size: 1.5rem;

    margin-left: -100px;
    margin-top: -100px;
}

#experienc-year {
    font-weight: 700;
    font-size: 4rem;
}

.featured-architect img {
    width: 100%;
}

/* some facts realeted style */
.fact-card {
    border-radius: 8px;
    border: 1px solid #FF900E;
    width: 240px;
    height: 240px;
    align-items: center;
    justify-content: center;
    text-align: center;

}

.facts-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

}

.fact-number {
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 10px;

}

.fact-name {
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 10px;
}

.fact-description {
    max-width: 540px;
}

.sponsors-info {
    max-width: 540px;
    margin: 50px auto;
    text-align: center;
}

.sponsor-companies {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.sponsor-companies img {
    filter: grayscale(100%);
}

.footer {
    max-width: 1440px;
    margin: 0 auto;
    text-align: center;
    padding: 39px 410px;
    margin-top: 130px;
}



/* responsive media query */
@media screen and (max-width:576px) {

    .nav-bar,
    .nav-links,
    .teams,
    .featurs {
        flex-direction: column;
    }

    .team-img-container,
    .facts-container,
    .sponsor-companies {
        grid-template-columns: repeat(1, 1fr);
    }

    .facts-container,
    .sponsor-companies {
        justify-items: center;
        gap: 24px;
    }

    .our-feature {
        margin-left: 20px;
    }

    #experienc-badge {
        margin-top: 20px;
        margin-left: 20px;
    }

    .footer {

        padding: 10px;
    }
}

/* medium device */
@media screen and (min-width: 576px) and (max-width: 992px) {

    .teams,
    .featurs {
        flex-direction: column;
    }

    .our-feature {
        margin: 50px auto;
    }

    .facts-container,
    .sponsor-companies {
        grid-template-columns: repeat(2, 1fr);
        gap: 50px;
        justify-items: center;
    }

    #experienc-badge {
        margin-top: 20px;
        margin-left: 20px;
    }

    .footer {

        padding: 30px;
    }
}