@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Roboto:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.fira-sans-thin {
    font-family: "Fira Sans", serif;
    font-weight: 100;
    font-style: normal;
}

/* share style */
.display-flex {
    display: flex;
}

.btn-primary {
    border-radius: 8px;
    background: #FF900E;
    color: #FFF;
    padding: 20px 25px;
    text-align: center;
    border: none;
    font-size: 1.25rem;
    text-align: center;
}

main>section {
    margin-top: 130px;
}

main {
    max-width: 1440px;
    margin: 0 auto;
}

/* header style */
.nav-item {
    list-style: none;
    margin-right: 30px;
}

.nav-bar {
    justify-content: space-between;
    align-items: center;
}

.bg-light {
    background-color: rgba(255, 144, 14, 0.10);

}

.nav-links {
    list-style: none;

    color: var(--Dark-02, #424242);
    text-align: center;
    font-family: "Work Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px
}

.nav-bar,
.banner {
    max-width: 1440px;
    margin: 0 auto;
}

.brand-name {
    font-weight: 700;
    font-size: 2.5rem;
}

/* banner style */
.banner-content {
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}

.banner-title {
    font-weight: 700;
    font-size: 4rem;
    text-align: center;
}

.description {
    font-weight: 400;
    font-size: 1rem;
    color: var(--Dark-03, #727272);
    text-align: center;
}

.banner-img {
    width: 100%;
}

/* team features style */
.teams {
    align-items: center;
}

.team-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.our-feature {
    margin-left: 130px;
    max-width: 530px;

}

.feature-title {
    font-size: 2.5rem;
    font-weight: 700;

}

#quick-list {
    color: var(--Dark-03, #727272);
    font-weight: 500;
}

#features {
    color: #FF900E;
    font-weight: 700;
}

.of-our {
    color: var(--Dark-01, #131313);
    font-weight: 700;
}

/* responsive media query */
@media screen and (max-width:576px) {

    .nav-bar,
    .nav-links {
        flex-direction: column;
    }
}